@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

@media only screen and (max-width: 1026px) {
    .fadeshow1 {
        display: none;
    }
}

/* --------- Zoom Transform -- Start --*/
.star:hover img {
    transform: rotate(0) scale(1.5) translateZ(0);
    transition-duration: 1s;

    /* transform: rotate(0) scale(1.8) translateZ(0); */
    -webkit-filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));

}

@media only screen and (max-width: 1026px) {
    .star:hover img {
        transform: rotate(0) scale(1.0) translateZ(0);
        transition-duration: 1s;

    }
}

@media only screen and (min-width: 1026px) {
    .hideOnlg_screen {
        display: none;
    }
}

/* --------- Zoom Transform -- END --  */

.center a {
    margin: 0 5px;
}

/* --------- Grid Start ---------- */
.myGallery_Prateek {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.myGallery_Prateek img {
    width: 100%;
}

/* --------- Grid End---------- */

/* --------- Social Start ---------- */
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0 10px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

ul li a img {
    width: 80%;
}

/* --------- Social Start ---------- */

/*  */

.div_overlaypc {
    position: relative;
    z-index: 1;

    word-wrap: break-word;
    flex-wrap: wrap;
}

.img_overlayPc {
    position: absolute;
    z-index: 2;

    width: 70vh;
}

#overlay_textpc {
    display: none;
}

#overlay_textpc {
    position: relative;
    z-index: 3;
    right: 13px;
    font-family: 'Tourney', cursive;
    font-size: 50vh;
    color: #ffffff;
    /* background-color: rgba(137, 43, 226, 0.527); */
    transition-duration: display 15s;
    transition-delay: 5s;
    display: block;
    top: 20px;


}

.img_overlayPc {
    top: 15%;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

.div_overlaypc {
    position: relative;
    z-index: 1;

    word-wrap: break-word;
    flex-wrap: wrap;
}

.img_overlayPc {
    position: absolute;
    z-index: 2;

    width: 60vh;
}

#overlay_textpc {
    display: none;
}

.myDIVpc:hover+#overlay_textpc {
    position: relative;
    z-index: 3;

    font-family: 'Tourney', cursive;
    font-size: 53vh;
    color: #ffffff;*/
/* background-color: rgba(137, 43, 226, 0.527); 
    transition-duration: display 15s;
    transition-delay: 5s;
    display: block;
    top: 20px;


} */