/* --- General Pen Styles --- */
body{
	font-family: Georgia, serif;
	color: #333;
	font-size: 1.4rem;
	line-height: 2rem;
}
.headerZoom{
	position: relative;
}
.title{
	text-align: center;
}
.h1_f{
	font-size: 6vw;
	line-height: 1.125;
	font-family: 'Sansita';
	/* text-transform: uppercase; */
}
.content{
	margin: 0 auto;
	max-width: 90%;
	width: 720px;
	height: 100%;
}
.mainZoom{
	padding: 1% 0;
	position: relative;
	background: #f5f5f5;
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
}
button{
  border: 3px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 1rem;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  transition: all ease-in-out .3s;
}
button:hover{
	background: #FFF;
	color: #000;
	opacity: .7;
}

footer p{
	text-align: center;
	font-size: .8rem;
	font-weight: bold;
	color: #ccc;
}

/* --- Important Pen Styles --- */

.zoom{
	overflow: hidden;
   padding-bottom: 60%;
	background-image: url('../images/busmeet\ -\ Copy.jpg');
	background-size: 100% 100%;
	background-position: top center;	
}
.title{
	position: absolute;
	top: 40%;
	width: 100%;
}
.title h1{
	text-align: center;
	color: #FFF;
}
@media (max-width: 1024px) {
	.content{text-align: justify;}
	.zoom{
		overflow: hidden;
   	padding-bottom: 60%;
	}
}