@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.shadow1 {
    box-shadow: 3px 0px 5px black, 8px 0px 130px rgba(0, 0, 0, 0.319) inset, 0px 0px 20px rgba(0, 0, 0, 0.411) inset;
}

.shadow2inn {
    box-shadow: 3px 0px 5px black, 0px 0px 20px rgba(0, 0, 0, 0.411) inset;
}

.containerMain {
    background-color: rgba(255, 255, 255, 0.829);
    backdrop-filter: blur(3px);
    padding-left: 2%;

    padding: 4%;
    box-shadow: 3px 0px 5px black, 8px 0px 130px rgba(138, 138, 138, 0.319) inset, 0px 0px 20px rgba(226, 226, 226, 0.411) inset;
    border-radius: 15px 50px;
}

.sh1 {
    box-shadow: 12px 6px 23px black;
    backdrop-filter: blur(5px);
    background-color: rgba(59, 170, 59, 0.151);

}

/* -- Font Style -- Start -- */

.paci_font {
    font-family: 'Pacifico', cursive;
}

.monoton_font {
    font-family: 'Monoton', cursive;
}

.cursive_font {
    font-family: cursive;
}

.small_font {
    font-size: 12px;
}

.Fweight_small{
    font-weight: 100;
}

/* -- Font Style -- End -- */

/* --> Common St */
.ri_a {
    text-align: right;
}

a {
    text-decoration: none;
}

.nai_display {
    display: none;
}

.mrIndia {
    color: transparent;
}

.rd_color {
    color: rgba(139, 4, 4, 0.89);
}

/* --> Common  End */

/* -----------  ----------- */
article {
    max-width: 500px;
    margin: 2rem auto;
    font: 1.5rem/1.5 system-ui;
}

figure {
    padding: 0;
    margin: 0;
    position: relative;
    /* padding-bottom: 150px; */
}

figure img {
    max-width: 100%;
    display: block;
    /* margin-bottom: 120px; */
}

figure img.top {
    position: absolute;
    top: 105px;
    left: 0;
}

figure figcaption {
    border: 5px solid #009688;
    color: #009688;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    /* padding: 0.25rem; */
    text-align: center;
    position: sticky;
    top: 0;

    mix-blend-mode: color-dodge;
}

figure figcaption strong {
    display: block;
}

figure+p {
    background: white;
    position: relative;
}

/* ----------- --------------- */


.t-dark ul a{
    padding-left: 2%;
    padding-right: 2px;
}
