<head>

  <!-- Favicoon -->
  <link rel="shortcut icon" href="../static/images/pcp1logo.png" type="image/png">

  <!-- Lootie -->
  <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <script>
    LottieInteractivity.create({
      mode: "scroll",
      player: '#firstLottie',
      actions: [
        {
          visibility: [0, 1],
          type: "seek",
          frames: [0, 4800],
        },
      ]
    });
  </script>
  <!-- Lootie -- End -->
</head>

<div class="header">

  <div class="zoom headerZoom">
    <div class="title">
      <h1 class="h1_f sh1 paci_font" style="color: whitesmoke;">My Works</h1>
      <!-- <a href="http://webdesignerwall.com/tutorials/how-to-add-icon-fonts-to-any-element-with-css"
				alt="webdesignerwall.com" target="_blank"><button>View Tutorial</button></a> -->
    </div>
  </div>
</div>

{% extends "layout.html" %}


{% block content %}



<div class="container mt-4">
  <h3 class="display-4 paci_font ri_a">Here are some of my works</h3>
  <div class="container">
    <div class="">
      <center>
        <lottie-player id="firstLottie" src="https://assets9.lottiefiles.com/packages/lf20_u5nd9awf.json"
          style="width:100%; height: 260px; z-index: -999;"></lottie-player>
      </center>
    </div>
    <br>

    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
      et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
      repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>

    <p>
      websites
      logos
      apps
    </p>

    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
      et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
      repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  </div>

  <!-- 888888888888 888888888888888888888 WEBSITES 88888888888888888 8888888888888 -->
  <div class="wrapper">
    <h2><strong>Websites<span>( 4 )</span></strong></h2>
    <div class="cards">

      <!-- -------------Fx Card 1 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg" />
        <figcaption>Dota 2</figcaption>
      </figure>

      <!-- -------------Fx Card 2 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/2.jpg" />
        <figcaption>Stick Fight</figcaption>
      </figure>

      <!-- -------------Fx Card 3 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/3.jpg" />
        <figcaption>Minion Masters</figcaption>
      </figure>

      <!-- -------------Fx Card 4 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />
        <figcaption>KoseBoz!</figcaption>
      </figure>

      <!-- -------------Fx Card 1 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg" />
        <figcaption>Dota 2</figcaption>
      </figure>

      <!-- -------------Fx Card 2 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/2.jpg" />
        <figcaption>Stick Fight</figcaption>
      </figure>

      <!-- -------------Fx Card 3 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/3.jpg" />
        <figcaption>Minion Masters</figcaption>
      </figure>

      <!-- -------------Fx Card 4 -->
      <figure class="card">
        <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />
        <figcaption>KoseBoz!</figcaption>
      </figure>

    </div>
    <!-- 888888888888 888888888888888888888 APPS 88888888888888888 8888888888888 -->
    <div class="wrapper">
      <h2><strong>Apps<span>( 1 )</span></strong></h2>
      <div class="cards">
        <!-- -------------Fx Card 1 -->
        <figure class="card mb-4">
          <img src="../static/images/works/mobileApp1_gym.png" />
          <figcaption>
            <div class="fx_card_overtext float-right">
              <a href="">Demo</a>
            </div>
            <div class="fx_card_overtext_Code float-right">
              <a href="">Code</a>
            </div>
            <hr>
            GymApp
          </figcaption>
        </figure>

      </div>
      <!-- 888888888888 888888888888888888888 LOGOS 88888888888888888 8888888888888 -->
      <div class="wrapper">
        <h2><strong>Logos<span>( 4 )</span></strong></h2>
        <div class="cards">

          <!-- -------------Fx Card 1 -->
          <figure class="card">
            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/1.jpg" />
            <figcaption>Dota 2</figcaption>
          </figure>

          <!-- -------------Fx Card 2 -->
          <figure class="card">
            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/2.jpg" />
            <figcaption>Stick Fight</figcaption>
          </figure>

          <!-- -------------Fx Card 3 -->
          <figure class="card">
            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/3.jpg" />
            <figcaption>Minion Masters</figcaption>
          </figure>

          <!-- -------------Fx Card 4 -->
          <figure class="card">
            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/4.jpg" />
            <figcaption>KoseBoz!</figcaption>

          </figure>

        </div>
        <!-- 8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 -->
        <h2><strong>What's Comming Next?</strong></h2>

        <div class="news">

          <figure class="article">

            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/news1.jpg" />

            <figcaption>

              <h3>New Item</h3>

              <p>

                In today’s update, two heads are better than one, and three heads are better than that, as the all-new
                Flockheart’s Gamble Arcana item for Ogre Magi makes its grand debut.

              </p>

            </figcaption>

          </figure>

          <figure class="article">

            <img src="https://mrreiha.keybase.pub/codepen/hover-fx/news2.png" />

            <figcaption>

              <h3>Update</h3>

              <p>

                Just in time for Lunar New Year and the Rat’s time in the cyclical place of honor, the Treasure of
                Unbound
                Majesty is now available.

              </p>

            </figcaption>

          </figure>

        </div>

      </div>

      <div class="container">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit at temporibus, quasi facilis dolorem expedita
        blanditiis quis nobis maxime aut ratione tempora similique obcaecati officiis cumque eos eum, libero impedit,
        dolor
        quam harum itaque! Voluptatibus, a debitis. Aliquam architecto expedita veritatis magni possimus consectetur eum
        aperiam neque et, inventore suscipit in quae, veniam cumque minima est quas tempore quo quaerat odio voluptate.
        Qui
        delectus odit optio cupiditate assumenda esse repudiandae quia, amet accusamus saepe voluptatibus exercitationem
        deleniti recusandae magni ea aut, magnam perferendis minus? Ipsam quod magnam animi molestias voluptas quos
        sapiente
        nemo ex modi. Incidunt dolores dignissimos iure, molestias sit temporibus facere nisi mollitia cum veniam et
        deleniti eos. Consectetur, iusto ipsum. Blanditiis aliquam neque sequi officiis veniam veritatis aliquid earum
        incidunt reiciendis eius, quo, facere eveniet accusantium dicta distinct
        is exercitationem ex? Impedit
        tempora id totam tenetur natus provident, ullam, deserunt magni reprehenderit reiciendis quidem sequi maxime
        optio
        iure. Assumenda ipsam tempora reprehenderit nam explicabo tenetur hic! Unde provident magni iusto voluptates
        blanditiis accusamus impedit eum atque tempore dolores, minus ab libero aspernatur culpa sunt, error architecto
        vero
        placeat ipsam? Voluptatibus iste itaque quasi impedit architecto tenetur. Sapiente, maxime minus vel quibusdam
        alias
        reiciendis numquam amet consectetur ipsa deleniti quisquam vitae, delectus modi illum quia aperiam dolores quo
        aliquid. Fuga exercitationem quod, ipsam doloremque provident, doloribus ad rem inventore nisi vel odio
        molestias,
        hic perferendis cumque aliquam necessitatibus corrupti suscipit explicabo ipsum facilis velit sequi aspernatur!
        A,
        libero. Tempora, facilis
      </div>
      <!-- partial -->



      {% endblock content %}