{% extends 'home_layout.html' %}

{% block homeContent %}

<header class="container">
  <div class="siteTitle typewrite" data-period="2000"
    data-type='[ "Portfolio Website of", "Website Created & Deigned by" ]'>
    <span class="wrap"></span>
</header>

<center>
  <article>

    <figure>
      <figcaption class="monoton_font">
        <strong style="font-weight: 200;">Prateek</strong>
        Clare
      </figcaption>
      <img src='../static/images/Back3_homePic.png' alt='Woman holding guitar over shoulder'>
      <img src="../static/images/iam1ge_portfolio-min.png" alt="" class="top">

    </figure>
  </article>

</center>
<!-- 
  <center>
    <img src="../static/images/iam1ge_portfolio-min.png" width="350vw" alt="" class="myImage" id="hover">
  </center> -->

<!-- <hr> -->
</div>

<center>
  <div class="containerMain">

    <table class="table" style="text-align: center;">


      <tr>
        <th scope="row">
          <a href="https://www.instagram.com/prateekclare/">
            <i class="bi bi-instagram shadow-sm" style="font-size: 2rem; color: rgb(73, 3, 3);">
            </i></a>
        </th>
        <!-- 
        <th scope="row">
          <a href="https://www.freelancer.com/u/prateekclare6">
            <img width="45px" style="vertical-align: bottom;" src="https://camo.githubusercontent.com/c34d362e0e084f01b17fbef1b5332e97e40c75caceb85a1e705fbe5fdfe6d881/687474703a2f2f692e737461636b2e696d6775722e636f6d2f36774c69492e6a7067" alt="">
          </a>
        </th> -->

        <th scope="row">
          <a href="https://github.com/prateekclare">
            <i class="bi bi-github" style="font-size: 2rem; color: black;">
            </i></a>
        </th>

        <th scope="row">
          <a href="https://www.linkedin.com/in/prateek-clare-b6b17919b/">
            <i class="bi bi-linkedin" style="font-size: 2rem; color: blue;">
            </i></a>
        </th>


        <th scope="row">
          <a href="https://twitter.com/clareprateek">
            <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i></a>
        </th>

        <th scope="row">
          <a href="https://www.youtube.com/channel/UC5PDe5fXjQWCqszbP6zJYIQ">
            <i class="bi bi-youtube" style="font-size: 2rem; color: red;"></i>
          </a>
        </th>

        <th scope="row">
          <a href="https://www.facebook.com/profile.php?id=100012408844491">
            <i class="bi bi-facebook" style="font-size: 2rem; color: rgb(8, 0, 117);"></i>
          </a>
        </th>

      </tr>

    </table>
    <div class="text-center">Do Follow On Social Media</div>
  </div>
</center>

<br>
<main>
  <a href="{{url_for('about') }}" class="card" id="card1" data-aos="fade-right" data-aos-duration="3500">
    <!-- data-aos="fade-right" data-aos-easing="ease-in-sine"       data-aos-duration="3000" -->
    <div class="inner shadow2inn">
      <h2 class="title">About Me</h2>
      <time class="subtitle">Brief about me<time>
    </div>
  </a>

  <a href="{{url_for('works') }}" class="card card2" id="card2" data-aos="zoom-in" data-aos-duration="1300">
    <div class="inner shadow2inn">
      <h2 class="title">My Works</h2>
      <time class="subtitle">All projects are here<time>
    </div>
  </a>

  <a href="" class="card card3" id="card3" data-aos="zoom-in" data-aos-duration="1300">
    <div class="inner shadow2inn">
      <h4>
        <time class="subtitle">Want any website/webpage?<time>
      </h4>
      <h3 class="title text-dark">
        <hr>
        Contact via
        <br><i class="fa fa-instagram" aria-hidden="true"></i> prateekclare
      </h3>
    </div>
  </a>
  <main>


    {% endblock homeContent %}