<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Fork This Nav</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

</head>
<body>
<!-- partial:index.partial.html -->
<input type="checkbox" id="main-navigation-toggle" class="btn btn--close" title="Toggle main navigation" />
<label for="main-navigation-toggle">
  <span></span>
</label>

<nav id="main-navigation" class="nav-main">
  <ul class="menu">
    <li class="menu__item">
      <a class="menu__link" href="#0">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#0">About</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#0">Clients</a>
      <ul class="submenu">
        <li class="menu__item">
          <a class="menu__link" href="#0">Burger King</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#0">Southwest Airlines</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#0">Levi Strauss</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#0">Services</a>
      <ul class="submenu">
        <li class="menu__item">
          <a class="menu__link" href="#0">Print Design</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#0">Web Design</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#0">Mobile App Development</a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#0">Contact</a>
    </li>
  </ul>
</nav>

<main class="page-container">
  <h1>Fork This Nav Challenge</h1>
  <p>Click the toggle to open the menu and see the magic. This experiment relies on only CSS to style, animate and position elements.</p>
  <p>The technique used to select siblings based on the element being hovered extends from the work done by <a href="https://codepen.io/giana">Giana</a> in <a href="https://codepen.io/giana/pen/dWJzMK/">this pen</a>.</p>
  <p>Created for the <a href="https://codepen.io/challenges/2019/august/">Navigation with Sub-Navigation</a> Fork This CodePen Challenge in August 2019. The code within has not been browser tested. This was made to experience a quick thrill with the power of CSS.<p>
</main>
<!-- partial -->
  
</body>
</html>
