<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        body {
            background-image: url(https://scx2.b-cdn.net/gfx/news/2019/2-nature.jpg);
        }

        .shadow1{
            box-shadow: 3px 0px 5px black, 8px 0px 130px rgba(0, 0, 0, 0.319) inset, 0px 0px 20px rgba(0, 0, 0, 0.411) inset;
        }

        .containerMain {
            background-color: rgba(255, 255, 255, 0.829);
            backdrop-filter: blur(3px);
            /* position: absolute; */
            padding-left: 2%;
            /* margin: 5%; */

            padding: 4%;
            box-shadow: 3px 0px 5px black, 8px 0px 130px rgba(138, 138, 138, 0.319) inset, 0px 0px 20px rgba(226, 226, 226, 0.411) inset;
            border-radius: 15px 50px;
        }
    </style>

</head>

<body>
    <center class="shadow1" style="padding-top: 4%;">
        <img alt="ce" style="width: 40%;" class="shadow1 img-fluid shadow" src="../static/images/iam1ge_portfolio.png">
    </center>
    <div class="containerMain">
        <h1 class="typewrite" data-period="2000" data-type='[ "New Website Comming Soon....", "-- by Prateek Clare" ]'
            style="text-align: center;">Hello</h1>

        <!-- table-hover -->
        <table class="table" style="text-align: center;">
            <!-- <thead>
              <tr>
                <th scope="col">Student Name</th>    
                <th scope="col">Email address</th>
                <th scope="col">Group Name</th>
    
              </tr>
            </thead> -->

            <tr>
                <th scope="row">
                    <a href="https://www.instagram.com/prateekclare/">
                        <i class="bi bi-instagram shadow-sm" style="font-size: 2rem; color: rgb(73, 3, 3);">
                        </i></a>
                </th>
            
                <th scope="row">
                    <a href="https://github.com/prateekclare">
                        <i class="bi bi-github" style="font-size: 2rem; color: black;">
                        </i></a>
                </th>
                
                <th scope="row">
                    <a href="https://www.linkedin.com/in/prateek-clare-b6b17919b/">
                        <i class="bi bi-linkedin" style="font-size: 2rem; color: blue;">
                        </i></a>
                </th>


                <th scope="row">
                    <a href="https://twitter.com/clareprateek">
                    <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                </th>

                <th scope="row">
                    <a href="https://www.youtube.com/channel/UC5PDe5fXjQWCqszbP6zJYIQ">
                    <i class="bi bi-youtube" style="font-size: 2rem; color: red;"></i>
                </a>
                </th>

                <th scope="row">
                    <a href="https://www.facebook.com/profile.php?id=100012408844491">
                    <i class="bi bi-facebook" style="font-size: 2rem; color: rgb(8, 0, 117);"></i>
                </a>
                </th>
                
            </tr>

        </table>
            <div class="text-center">Do Follow On Social Media</div>
    </div>

<!-- 

    <div>
        <div scope="row">
            <a href="https://www.instagram.com/prateekclare/">
                <i class="bi bi-instagram shadow-sm" style="font-size: 2rem; color: rgb(73, 3, 3);">
                </i></a>
        </div>
    
        <div scope="row">
            <a href="https://github.com/prateekclare">
                <i class="bi bi-github" style="font-size: 2rem; color: black;">
                </i></a>
        </div>
        
        <div scope="row" class="col-4">
            <a href="https://www.linkedin.com/in/prateek-clare-b6b17919b/">
                <i class="bi bi-linkedin" style="font-size: 2rem; color: blue;">
                </i></a>
        </div>


        <div scope="row" class="col-4">
            <a href="https://twitter.com/clareprateek">
            <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i></a>
        </div>

        <div scope="row">
            <a href="https://www.youtube.com/channel/UC5PDe5fXjQWCqszbP6zJYIQ">
            <i class="bi bi-youtube" style="font-size: 2rem; color: red;"></i>
        </a>
        </div>

        <div scope="row">
            <a href="https://www.facebook.com/profile.php?id=100012408844491">
            <i class="bi bi-facebook" style="font-size: 2rem; color: rgb(8, 0, 117);"></i>
        </a>
        </div>
        
    </div>

</div>
    <div class="text-center">Do Follow On Social Media</div>
</div> -->

  <script>
        // When the user scrolls down 20px from the top of the document, slide down the navbar
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-50px";
            }
        }


        // Text Effect
        var TxtType = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            var that = this;
            var delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            var elements = document.getElementsByClassName('typewrite');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);
        };
    </script>
</body>

</html>